{{#
    @name Layout
    @desc The default layout file.
#}}

<!-- /layout.antlers.html -->
<!doctype html>
<html lang="{{ site:short_locale }}" class="antialiased">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        {{ vite src="resources/css/site.css|resources/js/site.js" }}
        {{ partial:statamic-peak-seo::snippets/seo }}
        {{ partial:statamic-peak-browser-appearance::snippets/browser_appearance }}
        {{ partial:statamic-peak-tools::snippets/live_preview }}
    </head>
    <body class="flex flex-col min-h-screen bg-white selection:bg-primary selection:text-white">
        {{ partial:statamic-peak-tools::snippets/noscript }}
        {{ partial:statamic-peak-tools::navigation/skip_to_content }}
        {{ partial:statamic-peak-tools::components/toolbar }}
        {{ yield:seo_body }}
        {{ partial:layout/header }}
        <div class="mx-auto px-2 flex flex-col items-center justify-center">
            <div class="bg-white p-8 border-2 border-black shadow-[3px_3px_0px_0px_black] rounded-lg max-w-md prose">
                <h2>Welcome to&nbsp;demolah</h2>
                <p>Nothing here. Please come&nbsp;again.</p>
            </div>
            <!-- <a href="https://sago.demolah.com"
               target="_blank"
               class="mt-4 px-5 py-2 bg-white font-medium text-black shadow-[3px_3px_0px_0px_black] hover:shadow-none hover:bg-yellow-100 active:bg-yellow-500 border-2 border-black rounded-lg transform hover:translate-x-1 hover:translate-y-1 ease-in transition duration-50">
                Sago
            </a> -->
            <a href="https://water-bill-calculator.demolah.com"
               target="_blank"
               class="mt-4 px-5 py-2 bg-white font-medium text-black shadow-[3px_3px_0px_0px_black] hover:shadow-none hover:bg-yellow-100 active:bg-yellow-500 border-2 border-black rounded-lg transform hover:translate-x-1 hover:translate-y-1 ease-in transition duration-50">
                Water Bill Calculator
            </a>
            <a href="https://github.com/lomotech/jajahan/"
               target="_blank"
               class="mt-4 px-5 py-2 bg-white font-medium text-black shadow-[3px_3px_0px_0px_black] hover:shadow-none hover:bg-yellow-100 active:bg-yellow-500 border-2 border-black rounded-lg transform hover:translate-x-1 hover:translate-y-1 ease-in transition duration-50">
                Jajahan
            </a>
            <a href="https://packagist.org/packages/myopensoft/laravel-health-checker"
               target="_blank"
               class="mt-4 px-5 py-2 bg-white font-medium text-black shadow-[3px_3px_0px_0px_black] hover:shadow-none hover:bg-yellow-100 active:bg-yellow-500 border-2 border-black rounded-lg transform hover:translate-x-1 hover:translate-y-1 ease-in transition duration-50">
                Laravel Health Checker
            </a>
            <a href="https://packagist.org/packages/myopensoft/laravel-kepoh-webapi"
               target="_blank"
               class="mt-4 px-5 py-2 bg-white font-medium text-black shadow-[3px_3px_0px_0px_black] hover:shadow-none hover:bg-yellow-100 active:bg-yellow-500 border-2 border-black rounded-lg transform hover:translate-x-1 hover:translate-y-1 ease-in transition duration-50">
                Laravel Kepoh WebAPI
            </a>
            <a href="https://packagist.org/packages/myopensoft/laravel-ssl-checker"
               target="_blank"
               class="mt-4 px-5 py-2 bg-white font-medium text-black shadow-[3px_3px_0px_0px_black] hover:shadow-none hover:bg-yellow-100 active:bg-yellow-500 border-2 border-black rounded-lg transform hover:translate-x-1 hover:translate-y-1 ease-in transition duration-50">
                Laravel SSL Checker
            </a>
            <a href="https://packagist.org/packages/myopensoft/runner"
               target="_blank"
               class="mt-4 px-5 py-2 bg-white font-medium text-black shadow-[3px_3px_0px_0px_black] hover:shadow-none hover:bg-yellow-100 active:bg-yellow-500 border-2 border-black rounded-lg transform hover:translate-x-1 hover:translate-y-1 ease-in transition duration-50">
                Laravel Runner
            </a>
        </div>
        {{ template_content }}
        {{ partial:layout/footer }}
    </body>
</html>
<!-- End: /layout.antlers.html -->
